<VirtualHost 127.0.0.1:81>
    ServerName site-2.ru
    ServerAdmin mail@site-2.ru
    DocumentRoot /var/www/site-2.ru/public
    CustomLog /var/www/site-2.ru/http_logs/apache2/site-2.ru.access.log combined
    ErrorLog /var/www/site-2.ru/http_logs/apache2/site-2.ru.error.log
    	Alias /phpmyadmin /usr/share/phpmyadmin
		Alias /pma /usr/share/phpmyadmin

	<Directory /var/www/site-2.ru/public>
	        Options -Includes -Indexes -ExecCGI
        	AllowOverride All 
	</Directory>
	<FilesMatch \.php$>
		SetHandler "proxy:unix:/var/run/php/php7.4-site-2.ru.sock|fcgi://localhost/"
	</FilesMatch>
</VirtualHost>
